In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt # matplotlib içerisindeki pyplot modülünü plt olarak import ettik
import matplotlib as mpl # sadece matplotlibi import etmek etmek için kullanırız

import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Exercise DataSet

Pandas’ın exercise dataset’i, genelde kişilerin spor yapma aktivitelerini içeren küçük ve basit bir örnek veri setidir. Öğrenme amaçlı (özellikle pandas ile veri manipülasyonu ve analiz pratikleri için) kullanılır.

Veri setinde şu sütunlar var:

***Unnamed: 0*** → Otomatik oluşturulmuş index sütunu (gereksiz, drop edebilirsin).

***id*** → Katılımcı numarası (1, 2, 3 …).

***diet*** → Katılımcının diyet tipi (ör: low fat, no fat).

***pulse*** → Nabız (egzersiz sırasında ölçülen).

***time*** → Egzersiz süresi (1 min, 15 min, 30 min).

***kind*** → Egzersiz türü (rest, walking, running).

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [10]:
exercise = sns.load_dataset('exercise')
exercise # exercise data setini çağırdı

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

In [11]:
exercise.drop('Unnamed: 0', axis = 1, inplace = True)
exercise # unnamed adındaki eski index sütununu drop ile sildik

    id     diet  pulse    time     kind
0    1  low fat     85   1 min     rest
1    1  low fat     85  15 min     rest
2    1  low fat     88  30 min     rest
3    2  low fat     90   1 min     rest
4    2  low fat     92  15 min     rest
..  ..      ...    ...     ...      ...
85  29   no fat    135  15 min  running
86  29   no fat    130  30 min  running
87  30   no fat     99   1 min  running
88  30   no fat    111  15 min  running
89  30   no fat    150  30 min  running

[90 rows x 5 columns]

In [12]:
exercise.head() # ilk 5 satırı çağırdık

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [13]:
exercise.tail() # son 5 satırı çağırdık

    id    diet  pulse    time     kind
85  29  no fat    135  15 min  running
86  29  no fat    130  30 min  running
87  30  no fat     99   1 min  running
88  30  no fat    111  15 min  running
89  30  no fat    150  30 min  running

In [14]:
exercise.sample(3) # rastgele 3 satırı çağırdık

    id     diet  pulse    time     kind
43  15  low fat     96  15 min  walking
59  20   no fat    103  30 min  walking
50  17   no fat     90  30 min  walking

In [15]:
exercise.shape # satır sütun sayısına baktık

(90, 5)

In [16]:
exercise.ndim # boyutuna baktık

2

In [17]:
exercise.size # toplam kaç elemanlı olduğuna baktık

450

In [18]:
exercise.info() # genel değerlendirmesine baktık

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     category
 2   pulse   90 non-null     int64
 3   time    90 non-null     category
 4   kind    90 non-null     category
dtypes: category(3), int64(2)
memory usage: 2.2 KB

In [19]:
exercise.describe() # özet istatistiksel bilgi aldık

              id       pulse
count  90.000000   90.000000
mean   15.500000   99.700000
std     8.703932   14.858471
min     1.000000   80.000000
25%     8.000000   90.250000
50%    15.500000   96.000000
75%    23.000000  103.000000
max    30.000000  150.000000

In [20]:
exercise.corr(numeric_only = True) # corelasyon hesapladık

             id     pulse
id     1.000000  0.679012
pulse  0.679012  1.000000

In [21]:
exercise.dtypes # sütunların types bilgisini aldık

id          int64
diet     category
pulse       int64
time     category
kind     category
dtype: object

In [22]:
exercise.columns # columns isimlerine baktık

Index(['id', 'diet', 'pulse', 'time', 'kind'], dtype='object')

In [23]:
exercise.index # index bilgisi aldık

RangeIndex(start=0, stop=90, step=1)

In [24]:
exercise.pulse.mean() # pulse değerlerin ortalamasını aldık

np.float64(99.7)

In [26]:
exercise.kind.unique() # kind sütunu unique değerlere baktık

['rest', 'walking', 'running']
Categories (3, object): ['rest', 'walking', 'running']

In [27]:
exercise.diet.unique() # diet sütunu unique değerlere baktık

['low fat', 'no fat']
Categories (2, object): ['no fat', 'low fat']

In [29]:
exercise.kind.value_counts() # kind sütunu değer sayısı

kind
rest       30
walking    30
running    30
Name: count, dtype: int64