In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt # matplotlib i√ßerisindeki pyplot mod√ºl√ºn√º plt olarak import ettik
import matplotlib as mpl # sadece matplotlibi import etmek etmek i√ßin kullanƒ±rƒ±z

import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Exercise DataSet

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
exercise = sns.load_dataset('exercise')
exercise

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

üü¢ 1. Basit Seviye (5 Soru)

Veri setindeki toplam satƒ±r ve s√ºtun sayƒ±sƒ±nƒ± bulun.

ƒ∞lk 3 satƒ±rƒ± g√∂r√ºnt√ºleyin.

T√ºm ki≈üilerin ortalama nabƒ±z (pulse) deƒüerini hesaplayƒ±n.

En uzun s√ºre egzersiz yapan ki≈üinin adƒ±nƒ± bulun.

Ka√ß ki≈üi diyet yapƒ±yor?

üü° 2. Orta Seviye (5 Soru)

Diyet yapan ve yapmayanlarƒ±n ayrƒ± ayrƒ± ortalama kalori yakƒ±mƒ±nƒ± hesaplayƒ±n.

20 dakikadan fazla egzersiz yapanlarƒ±n ortalama nabzƒ±nƒ± bulun.

Nabzƒ± 90‚Äôdan y√ºksek olan ki≈üilerin isimlerini listeleyin.

Egzersiz s√ºresi (time) ile yakƒ±lan kalori arasƒ±ndaki ili≈ükiyi (korelasyonu) hesaplayƒ±n.

En d√º≈ü√ºk kalori yakan ki≈üi kimdir?

üî¥ 3. Zor Seviye (5 Soru)

Diyet durumuna g√∂re gruplayarak toplam yakƒ±lan kaloriyi bulun.

Ortalama s√ºrenin (time) √ºzerinde egzersiz yapan ki≈üilerin ortalama kalorisini hesaplayƒ±n.

Hem nabzƒ± 85‚Äôin √ºzerinde olan hem de 200‚Äôden fazla kalori yakan ki≈üileri se√ßin.

Ki≈üilerin verimliliƒüini hesaplayƒ±n: calories / time ‚Üí ‚Äúkalori/dakika‚Äù metrik s√ºtunu ekleyin.

En verimli (kalori/dakika deƒüeri en y√ºksek) ki≈üiyi bulun.

In [4]:
exercise.head()

   Unnamed: 0  id     diet  pulse    time  kind
0           0   1  low fat     85   1 min  rest
1           1   1  low fat     85  15 min  rest
2           2   1  low fat     88  30 min  rest
3           3   2  low fat     90   1 min  rest
4           4   2  low fat     92  15 min  rest

In [5]:
exercise.tail()

    Unnamed: 0  id    diet  pulse    time     kind
85          85  29  no fat    135  15 min  running
86          86  29  no fat    130  30 min  running
87          87  30  no fat     99   1 min  running
88          88  30  no fat    111  15 min  running
89          89  30  no fat    150  30 min  running

In [7]:
exercise.sample(3)

    Unnamed: 0  id     diet  pulse    time     kind
25          25   9   no fat     99  15 min     rest
40          40  14  low fat     96  15 min  walking
58          58  20   no fat    104  15 min  walking

In [8]:
exercise.shape

(90, 6)

In [9]:
exercise.ndim

2

In [10]:
exercise.size

540

In [12]:
exercise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  90 non-null     int64
 1   id          90 non-null     int64
 2   diet        90 non-null     category
 3   pulse       90 non-null     int64
 4   time        90 non-null     category
 5   kind        90 non-null     category
dtypes: category(3), int64(3)
memory usage: 2.9 KB

In [13]:
exercise.describe()

       Unnamed: 0         id       pulse
count   90.000000  90.000000   90.000000
mean    44.500000  15.500000   99.700000
std     26.124701   8.703932   14.858471
min      0.000000   1.000000   80.000000
25%     22.250000   8.000000   90.250000
50%     44.500000  15.500000   96.000000
75%     66.750000  23.000000  103.000000
max     89.000000  30.000000  150.000000

In [14]:
exercise.corr(numeric_only = True)

            Unnamed: 0        id     pulse
Unnamed: 0    1.000000  0.999506  0.688489
id            0.999506  1.000000  0.679012
pulse         0.688489  0.679012  1.000000

In [15]:
exercise.dtypes

Unnamed: 0       int64
id               int64
diet          category
pulse            int64
time          category
kind          category
dtype: object

In [16]:
exercise.columns

Index(['Unnamed: 0', 'id', 'diet', 'pulse', 'time', 'kind'], dtype='object')

In [17]:
exercise.index

RangeIndex(start=0, stop=90, step=1)