In [55]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt # matplotlib içerisindeki pyplot modülünü plt olarak import ettik
import matplotlib as mpl # sadece matplotlibi import etmek etmek için kullanırız

import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

# Exercise DataSet

Pandas’ın exercise dataset’i, genelde kişilerin spor yapma aktivitelerini içeren küçük ve basit bir örnek veri setidir. Öğrenme amaçlı (özellikle pandas ile veri manipülasyonu ve analiz pratikleri için) kullanılır.

Veri setinde şu sütunlar var:

***Unnamed: 0*** → Otomatik oluşturulmuş index sütunu (gereksiz, drop edebilirsin).

***id*** → Katılımcı numarası (1, 2, 3 …).

***diet*** → Katılımcının diyet tipi (ör: low fat, no fat).

***pulse*** → Nabız (egzersiz sırasında ölçülen).

***time*** → Egzersiz süresi (1 min, 15 min, 30 min).

***kind*** → Egzersiz türü (rest, walking, running).

In [56]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [57]:
exercise = sns.load_dataset('exercise')
exercise # exercise data setini çağırdı

    Unnamed: 0  id     diet  pulse    time     kind
0            0   1  low fat     85   1 min     rest
1            1   1  low fat     85  15 min     rest
2            2   1  low fat     88  30 min     rest
3            3   2  low fat     90   1 min     rest
4            4   2  low fat     92  15 min     rest
..         ...  ..      ...    ...     ...      ...
85          85  29   no fat    135  15 min  running
86          86  29   no fat    130  30 min  running
87          87  30   no fat     99   1 min  running
88          88  30   no fat    111  15 min  running
89          89  30   no fat    150  30 min  running

[90 rows x 6 columns]

In [58]:
exercise.drop('Unnamed: 0', axis = 1, inplace = True)
exercise # unnamed adındaki eski index sütununu drop ile sildik

    id     diet  pulse    time     kind
0    1  low fat     85   1 min     rest
1    1  low fat     85  15 min     rest
2    1  low fat     88  30 min     rest
3    2  low fat     90   1 min     rest
4    2  low fat     92  15 min     rest
..  ..      ...    ...     ...      ...
85  29   no fat    135  15 min  running
86  29   no fat    130  30 min  running
87  30   no fat     99   1 min  running
88  30   no fat    111  15 min  running
89  30   no fat    150  30 min  running

[90 rows x 5 columns]

In [59]:
exercise.head() # ilk 5 satırı çağırdık

   id     diet  pulse    time  kind
0   1  low fat     85   1 min  rest
1   1  low fat     85  15 min  rest
2   1  low fat     88  30 min  rest
3   2  low fat     90   1 min  rest
4   2  low fat     92  15 min  rest

In [60]:
exercise.tail() # son 5 satırı çağırdık

    id    diet  pulse    time     kind
85  29  no fat    135  15 min  running
86  29  no fat    130  30 min  running
87  30  no fat     99   1 min  running
88  30  no fat    111  15 min  running
89  30  no fat    150  30 min  running

In [61]:
exercise.sample(3) # rastgele 3 satırı çağırdık

    id    diet  pulse    time     kind
28  10  no fat     97  15 min     rest
79  27  no fat    126  15 min  running
81  28  no fat    103   1 min  running

In [62]:
exercise.shape # satır sütun sayısına baktık

(90, 5)

In [63]:
exercise.ndim # boyutuna baktık

2

In [64]:
exercise.size # toplam kaç elemanlı olduğuna baktık

450

In [65]:
exercise.info() # genel değerlendirmesine baktık

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      90 non-null     int64
 1   diet    90 non-null     category
 2   pulse   90 non-null     int64
 3   time    90 non-null     category
 4   kind    90 non-null     category
dtypes: category(3), int64(2)
memory usage: 2.2 KB

In [66]:
exercise.describe() # özet istatistiksel bilgi aldık

              id       pulse
count  90.000000   90.000000
mean   15.500000   99.700000
std     8.703932   14.858471
min     1.000000   80.000000
25%     8.000000   90.250000
50%    15.500000   96.000000
75%    23.000000  103.000000
max    30.000000  150.000000

In [67]:
exercise.corr(numeric_only = True) # corelasyon hesapladık

             id     pulse
id     1.000000  0.679012
pulse  0.679012  1.000000

In [68]:
exercise.dtypes # sütunların types bilgisini aldık

id          int64
diet     category
pulse       int64
time     category
kind     category
dtype: object

In [69]:
exercise.columns # columns isimlerine baktık

Index(['id', 'diet', 'pulse', 'time', 'kind'], dtype='object')

In [70]:
exercise.index # index bilgisi aldık

RangeIndex(start=0, stop=90, step=1)

In [71]:
exercise.pulse.mean() # pulse değerlerin ortalamasını aldık

np.float64(99.7)

In [72]:
exercise.kind.unique() # kind sütunu unique değerlere baktık

['rest', 'walking', 'running']
Categories (3, object): ['rest', 'walking', 'running']

In [73]:
exercise.diet.unique() # diet sütunu unique değerlere baktık

['low fat', 'no fat']
Categories (2, object): ['no fat', 'low fat']

In [74]:
exercise.kind.value_counts() # kind sütunu değer sayısı

kind
rest       30
walking    30
running    30
Name: count, dtype: int64

In [75]:
exercise.time = exercise.time.str.strip('min').astype('int')
exercise.sample()

    id     diet  pulse  time     kind
64  22  low fat    104    15  running

In [77]:
exercise.time.max() #  time serisinde süresi en büyük olan değeri buldu

30

In [78]:
exercise['kind'] == 'running' # egzersiz olarak koşu olanları True/False getirdi

0     False
1     False
2     False
3     False
4     False
      ...
85     True
86     True
87     True
88     True
89     True
Name: kind, Length: 90, dtype: bool

In [79]:
exercise[(exercise.time == 30) & (exercise['kind'] == 'running')] # en uzun süre koşu egzersizi yapanların listesi

    id     diet  pulse  time     kind
62  21  low fat    110    30  running
65  22  low fat    112    30  running
68  23  low fat     99    30  running
71  24  low fat    120    30  running
74  25  low fat    116    30  running
77  26   no fat    143    30  running
80  27   no fat    140    30  running
83  28   no fat    140    30  running
86  29   no fat    130    30  running
89  30   no fat    150    30  running

In [80]:
exercise.diet.unique()

['low fat', 'no fat']
Categories (2, object): ['no fat', 'low fat']

In [81]:
exercise.diet.value_counts()

diet
no fat     45
low fat    45
Name: count, dtype: int64

In [82]:
exercise[exercise['diet'] == 'no fat']['time'].mean() # no fat diet yapanların ort egzersiz süresi

np.float64(15.333333333333334)